doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Backbone-Forms typeahead.js editor example
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone-forms/0.14.1/backbone-forms.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.7.0/chosen.jquery.min.js")
    script(type="text/javascript" src="bbf-chosen.js")
    script(type="text/javascript" src="index.js")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.7.0/chosen.min.css")
  body
    //nav.navbar-static-top
      .container
        ul.nav.pull-left
          li: a.btn(href="index.html") With seconds
    .container
      h3 Example:
      #form
      h3 Code:
      pre.
        var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
            'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
            'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
            'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
            'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
            'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
            'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
            'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
            'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
        ];
        var Model = Backbone.Model.extend({
            schema: {
                states: {
                    type: 'chosen',
                    title: 'States',
                    options: states,
                    editorAttrs: {
                        multiple: 'multiple',
                        'data-placeholder': 'Select countries...'
                    },
                    editorOptions: {
                    }
                }
            }
        });
        var model = new Model();
        var form = new Backbone.Form({
            model: model
        });
        $('#form').html(form.render().$el);
